<table>
  <tbody>
    <tr>
      <th>Active</th>
      <td>
        <%= check_box_tag "settings[active]", true, @settings[:active] %>
      </td>
    </tr>
    <tr>
      <th>Redmine Contacts</th>
      <td>
        <% if Redmine::Plugin.installed?("redmine_contacts") %>
          <span class="icon found icon-ok"></span>
          Redmine Contacts is installed.
        <% else %>
          <span class="icon found icon-warning"></span>
          Redmine Contacts is not installed. Please make sure that the plugin is installed.
        <% end %>
      </td>
    </tr>
    <tr>
    <tr>
      <th>Rest API</th>
      <td>
        <% if Setting.rest_api_enabled? %>
          <span class="icon found icon-ok"></span>
          API authentication is active.
        <% else %>
          <span class="icon found icon-warning"></span>
          Please active API authentication in <%= link_to "Settings", settings_path(tab: "api") %>.
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Compatability</th>
      <td>
        <% compatible =
          if defined?(Contact)
            contact = Contact.new
            required_fields = [:id, :first_name, :last_name, :phone, :company]
            required_fields.map {|field| contact.respond_to?(field) }.all?
          else
            false
          end
        %>

        <% if compatible %>
          <span class="icon found icon-ok"></span>
          Plugin is compatible with Redmine Contacts.
        <% else %>
          <span class="icon found icon-warning"></span>
          Plugin is not compatible with Redmine Contacts.
          Please make sure that the migrations have been run and that the a modern version has been installed.
          Versions other than 4.4.1 Light and 4.4.0 Pro have not been tested and the integration might not work.
        <% end %>
      </td>
    </tr>
    <tr>
      <th>3CX Setup</th>
      <td><%= link_to "README.md", "https://github.com/renuo/redmine_3cx/blob/develop/README.rdoc" %></td>
    </tr>
    <tr>
      <th>Template</th>
      <td>
        <%= link_to "Download XML", redmine_3cx_template_path %>
      </td>
    </tr>
  </tbody>
</table>
