<table>
  <tbody>
    <tr>
      <th>Active</th>
      <td>
        <%= check_box_tag "settings[active]", true, @settings[:active] %>
      </td>
    </tr>
    <tr>
      <th>Template</th>
      <td>
        <%= link_to "Generate XML", redmine_3cx_template_path %>
      </td>
    </tr>
    <tr>
      <th>Plugin Installation</th>
      <td>
        <% if Redmine::Plugin.installed?("redmine_contacts") %>
          Redmine Contacts is installed.
        <% else %>
          Redmine Contacts is not installed. Please follow the Redmine Contacts installation instructions.
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Compatability</th>
      <td>
        <% compatible =
          if defined?(Contact)
            contact = Contact.new
            contact.respond_to?(:first_name) && contact.respond_to?(:last_name) && contact.respond_to?(:phone) && contact.respond_to?(:company)
          else
            false
          end
        %>

      <% if compatible %>
        Plugin is compatible with Redmine Contacts.
      <% else %>
        Plugin is not compatible with Redmine Contacts.
        Please follow the plugin instructions in the plugin <%= link_to "README.md","https://github.com/renuo/redmine_3cx/blob/develop/README.rdoc" %>.
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
